@import 'open-props/style';
@import 'open-props/normalize';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);

  --ff-base: 'Poppins', var(--font-sans);
  --fs-base: calc((16 / 16) * 1rem);
  --fw-base: var(--font-weight-4);
  --fc-base: var(--very-dark-blue);

  background-color: var(--very-light-gray);
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  color: var(--fc-base);
}

h1,
h2 {
  color: inherit;
}

.container {
  display: grid;
  justify-content: center;
  margin-inline: calc((32 / 16) * 1em);
}

.col {
  display: flex;
  flex-direction: column;
  gap: calc((23 / 16) * 1em);
}

/* Feature section */
.feature-section p {
  opacity: 0.5;
}

/* Header */
.header {
  text-align: center;
  margin-block-start: calc((83 / 16) * 1em);
}

.header .container {
  text-align: center;
  justify-items: center;
  gap: calc((13 / 16) * 1em);
}

.header__title {
  display: grid;
  gap: ((1/16) * 1em);
  font-size: calc((24 / 16) * 1rem);
  font-weight: var(--font-weight-6);
}

@media (min-width: 1175px) {
  .header__title {
    font-size: calc((36 / 16) * 1rem);
  }
}

.header__title span:first-of-type {
  font-weight: var(--font-weight-2);
}

.header__text {
  font-size: calc((15 / 16) * 1rem);
  line-height: calc(25 / 15);
  max-width: calc((540 / 16) * 1em);
}

/* Cards */
.cards {
  padding-block-start: calc((65 / 16) * 1em);
  /* padding-block-end: calc((80 / 16) * 1em); */
}
.cards .container {
  gap: calc((23 / 16) * 1em);
}

@media (min-width: 1175px) {
  .cards .container {
    display: flex;
    gap: calc((30 / 16) * 1em);
  }

  .cards .col:nth-of-type(2) {
    gap: calc((30 / 16) * 1em);
  }

  .cards .col:first-of-type,
  .cards .col:last-of-type {
    justify-content: center;
  }
}

.cards p {
  font-size: calc((13 / 16) * 1rem);
  line-height: calc(23 / 13);
}

/* Card */
.card {
  position: relative;
  display: grid;
  gap: calc((1 / 16) * 1em);
  background-color: #ffffff;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 8px;
  padding-inline: calc((28 / 16) * 1em);
  padding-block: calc((27 / 16) * 1em);
  overflow: hidden;
  max-width: calc((350 / 16) * 1em);
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 1175px) {
  .card {
    gap: calc((6 / 16) * 1em);
  }
}

.card:hover {
  transform: rotate(-2deg);
}

.card__accent {
  position: absolute;
  width: 100%;
  height: calc((3 / 16) * 1em);
  transition: transform 0.3s ease-in-out;
}

.card:hover .card__accent {
  transform: scale(15) rotate(3deg);
}

.card__accent--cyan {
  background-color: var(--cyan);
}

.card__accent--red {
  background-color: var(--red);
}

.card__accent--orange {
  background-color: var(--orange);
}

.card__accent--blue {
  background-color: var(--blue);
}

.card__title {
  font-size: calc((22 / 16) * 1rem);
  z-index: 0;
}

.card__text {
  margin-bottom: calc((33 / 16) * 1em);
}

.card__image {
  justify-self: end;
  transition: transform 0.3s ease-in-out;
}

.card:hover .card__image {
  transform: scale(1.1) rotate(3deg);
}

/* Footer */
.footer {
  display: none;
  padding-block-end: var(--size-7);
}

.attribution {
  font-size: calc((11 / 16) * 1rem);
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: underline;
}
